body {
  /* font-fa  mily: 'Segoe UI', sans-serif; */
}

.contact-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #1a1a75;
}

.contact-img {
  max-width: 200px;
  margin: auto;
  display: block;
}

.info-icons i {
  font-size: 1.5rem;
  color: #1a1a75;
}

.form-section {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.map-wrapper {
  border-radius: 15px;
  overflow: hidden;
}

.form-label {
  text-align: left !important;
}

.contact-img {
  max-height: 300px;
  object-fit: cover;
}

@media only screen and (min-width: 992px) {
  .bg-images {
    height: 156px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 768px) {
  .bg-images {
    height: 145px;
    overflow: hidden;
  }
}

.cont-pos {
  background: rgba(0, 0, 0, 0.4);
}

.fa-phone-alt {
  rotate: 100deg !important;
}

.icon-circle {
  background-color: #071956;
  /* Dark blue */
  color: white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.info-text {
  font-size: 16px;
  color: #000;
  font-weight: 500;
  text-align: center;
}

.cont-text {
  font-size: 23px;
  font-weight: 400;
}