.section-title {
    font-weight: 800;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 60px;
    position: relative;
  }

  .section-title span {
    position: relative;
    display: inline-block;
  }

  .blog-head {
    font-weight: 800;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 60px;
    position: relative;
  }

  .section-title span::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 5px;
    height: 18px;
    width: 100%;
    background: url(../../../public/img/Element.png) no-repeat center;
    background-size: contain;
    z-index: -1;
  }

  .blog-card {
    border: none;
    border-radius: 0;
    padding: 30px;
    height: 100%;
  }

  .blog-text h5 {
    font-weight: 700;
  }

  .blog-text p {
    font-size: 0.95rem;
    color: #333;
  }

  .blog-image {
    max-height: 180px;
    width: auto;
    object-fit: cover;
    margin-bottom: 20px;
  }

  @media (max-width: 767px) {
    .blog-text {
      text-align: center;
    }
  }
  .blog-card1 {
    background-color: #eaf8fe;
  }
  .blog-card2 {
    background-color: #f7f3fb;
  }
  .blog-card3 {
    background-color: #f3eafb;
  }
  .cursor-loader {
    cursor: progress;
  }
  .list-item {
  cursor: pointer;
}
.list-item:hover {
  background-color: #f8f9fa;
  transition: 0.3s;
}
