.highlight {
  position: relative;
  display: inline-block;
}
.highlight::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  height: 12px;
  background: #FFD95A;
  z-index: -1;
}
.stats-number {
  color: #fff;
  font-weight: 900;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stats-number .plus {
  font-size: 2rem;
  margin-left: 4px;
}
.btn-custom {
  background-color: #030c65 !important;
  color: rgb(255, 253, 253) !important;
  padding: 10px 24px;
  font-weight: 500;
  border-radius: 6px;
  font-size: 1rem;
  transition: background 0.3s ease;
}
.btn-custom:hover {
  background-color: #a1a9f4 !important;
  color: #fcfcfc !important;
}
.section-container {
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}
@media (max-width: 768px) {
  .stats-number {
    font-size: 1.5rem;
  }
  .stats-number .plus {
    font-size: 1.5rem;
  }
  .counter-content {
    text-align: center;
    font-size: 2rem;
  font-weight: 700;
  color: #030c65;
  }
}
@media only screen and (min-width: 992px) {
  .counter-content {
    text-align: left;
    font-size: 3rem;
  font-weight: 700;
  color: #030c65;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .counter-content {
    text-align: left;
    font-size: 3rem;
  font-weight: 700;
  color: #030c65;
  }
}
.background-col {
  background-color: #061068;
}
.counter-bg {
  background: #f4f7fb;
}