.biz-hero-section {
  background: url('../../../public/img/clienttrust.jpg') center center/cover no-repeat;
  height: 110vh;
  position: relative;
  display: flex;
  align-items: center;
}

.biz-hero-overlay {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 103%;
  padding: 60px 0;
}

.biz-hero-content {
  z-index: 2;
}

.sub-head {
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #ddd;
  margin-bottom: 10px;
}

.hero-title {
  font-size: 2.8rem;
  font-weight: 800;
  line-height: 1.3;
}

.highlight-yellow {
  color: #ffffff;
}

.hero-features {
  list-style: none;
  padding-left: 0;
}

.hero-features li {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #eee;
  display: flex;
  align-items: center;
}

.btn-yellow {
  background: #061067;
  color: #ffffff;
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s;
}

.btn-yellow:hover {
  background: #061067;
  color: #ffffff;
}

.play-btnsss {
  background: #fff;
  color: #0a0a83;
  border: none;
  /* width: 45px;
  height: 45px; */
  padding: 12px 24px;
  border-radius: 30px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.play-btnsss:hover {
  background: #ffffff;
  color: #000000;
}

.btn-area {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 2rem;
  }

  .play-btnsss {
    /* margin-top: 15px; */
    margin-left: 0;
  }

  .biz-hero-section {
  height: 136vh;
}
}

.styled-form-containers {
    background: linear-gradient(140deg, #f0f8ff1c, #ffffff);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.custom-inputs {
    border-radius: 0.5rem;
    border: 1px solid #ced4da;
    padding: 0.75rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.custom-inputs:focus {
    border-color: #00bcd4;
    box-shadow: 0 0 0 0.2rem rgba(0, 188, 212, 0.25);
}

.custom-addons {
    background-color: #e0f7fa;
    border: 1px solid #ced4da;
    border-radius: 0.5rem 0 0 0.5rem;
}

.btn-gradients {
    background: #061067;
    color: white;
    padding: 0.75rem;
    border-radius: 0.75rem;
    border: none;
    transition: background 0.3s ease;
}

.btn-gradients:hover {
    background: #061067;
    color: white !important;
}