/* Hero Section */
.hero {
  background-color: #fff;
  background-image: url("../../../public/img/Group 4093.png");
  background-size: cover;      /* Makes the image cover the entire container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat;/* Prevents the image from repeating */
  padding: 30px 0;
}

.hero-cont {
  /* padding: 80px 15px; */
}

@media only screen and (min-width: 992px) {
  .custom-img {
    width: 100%;
    height: 520px;
    object-fit: contain;
    /* position: absolute; */
    top: 80px;
    right: -300px;
  } 

  .btn-play {
    margin-left: 0px;
    margin-top: 0rem !important;
  }
}

@media only screen and (max-width: 600px) {
  .custom-img {
    width: 100%;
    height: 520px;
    object-fit: contain;
    position: relative;
  } 

  .btn-play {
    margin-left: 20px;
  }
}

  .hero-text {
    text-align: left;
  }

  .hero h6 {
    font-weight: 700;
    font-size: 0.85rem;
    color: #0A0A83;
    letter-spacing: 1px;
  }

  .hero h1 {
    font-weight: 900;
    font-size: 2rem;
    line-height: 1.3;
  }

  .underline-style {
    position: relative;
    display: inline-block;
  }

  /* .underline-style::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8px;
    background: url('../../public/img/2man.png') no-repeat center bottom;
    background-size: contain;
  } */

  .hero p {
    color: #6c757d;
    max-width: 400px;
    margin-top: 20px;
  }

  .btn-gradients {
    background-color: #0A0A83;
    color: #fff;
    padding: 12px 28px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    transition: 0.3s ease-in-out;
  }

  .btn-gradients:hover {
    background-color: #00006b;
    color: white;
  }

  .play-btns {
    width: 50px;
    height: 50px;
    background-color: #0A0A83;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 20px rgba(10, 10, 131, 0.25);
    color: #fff;
    margin-left: 20px;
    margin-top: 0px !important;
  }

  @media (max-width: 768px) {
    .hero h1 {
      font-size: 2.2rem;
    }
    .play-btns {
      margin-left: 0;
      margin-top: 15px;
    }
  }