.integration-section {
  background-image: url('../../../public/img/Apps.png'); /* Replace with your actual image path */
    background-size: cover;
    background-position: center;
}
.left-img{
    /* height: 500px; */
    width: auto;
  }
 
  .headline {
    font-weight: 800;
    font-size: 3rem;
    line-height: 1.2;
    color: white;
  }

  .subtext {
    font-size: 1rem;
    line-height: 1.6;
    color: #fff;
  }

  .btn-customs {
    background-color: #fff;
    color: black;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 10px;
    transition: all 0.3s ease;
  }

  .btn-customs:hover {
    background-color: #fff;
    color: black;
  }

  @media (max-width: 992px) {
    .headline {
      font-size: 2rem;
    }
  }