.testimonial-card {
  border-radius: 15px;
  background-color: #fff;
  padding: 25px;
  box-shadow: 3px 4px 20px -4px #8b8686;
  transition: all 0.3s ease;
  height: 100%;
}

.testimonial-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.quote-icon {
  font-size: 5rem;
  color: #001f70;
}

.client-img {
  width: 80px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
}

.section-title .overlap-conten::after {
  content: '';
    position: absolute;
    bottom: -1px;
    left: 0px;
    height: 22px;
    width: 100%;
    background: url(../../../public/img/Element.png) no-repeat center;
    background-size: contain;
    z-index: -1;
}

.highlight {
  background-color: #ffe25b;
  padding: 0 5px;
  border-radius: 5px;
}

.client-name {
  font-weight: bold;
  color: #001f70;
}

.carousel-indicators {
  justify-content: center;
  margin-top: 30px;
}

.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ccc;
  border: none;
  margin: 0 6px;
  margin-top: -20rem;
  transition: background-color 0.1s;
}

.carousel-indicators .active {
  background-color: #001f70;
}

.dot-indicator-wrapper {
  height: 20px;
  position: relative;
}

.dot-indicator-bar {
  position: relative;
  z-index: 1;
}

.dot-indicator {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  transition: background-color 0.3s;
}

.dot-indicator.active {
  background-color: #001f70;
}

.dot-slider {
  width: 12px;
  height: 12px;
  background-color: #001f70;
  top: 0;
  left: 0;
  z-index: 0;
  transition: left 0.4s ease;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 31, 112, 0.7);
  /* Dark blue */
  padding: 20px;
  border-radius: 50%;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  z-index: 9999;
}

.carousel-control-prev {
  margin-left: -50px;
}

.carousel-control-next {
  margin-right: -50px;
}

@media (max-width: 767px) {
  .carousel-control-prev {
    margin-left: 0;
  }

  .carousel-control-next {
    margin-right: 0;
  }
}
