.about-section {
  background-image: url('../../../public/img/child.jpeg');
  /* Replace with your actual image path */
  background-size: cover;
  background-position: center;
  height: 105vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  position: relative;
  margin-top: 69px;
}

.about-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  /* dark overlay for contrast */
  z-index: 1;
}

.about-content {
  z-index: 2;
  max-width: 700px;
}
