.mission-vision-section {
    padding: 60px 0;
    background-color: #fff;
  }
  /* @media only screen and (min-width: 992px) {
    .mission-text{
      text-align: left;
    }
  }
  @media only screen and (min-width: 600px) {
    .mission-text{
      text-align: center;
    }
  } */
  .img-main {
    width: 100px;
    height: 100px;
  }
  
  .mission-text h5,
  .vision-text h5 {
    font-size: 22px;
    font-weight: 700;
    color: #222;
    margin-bottom: 10px;
  }
  
  .mission-text p,
  .vision-text p {
    font-size: 14px;
    color: #333;
    margin: 0;
  }

  .vision-text p {
    display: flex;
    text-align: end !important;
  }
  
  .mission-text p{
    /* display: flex; */
  }
  
  @media (max-width: 768px) {
    .mission-text,
    .vision-text {
      text-align: center;
      margin-top: 1rem;
    }
  }
  
  .mission-vision {
    height: 200px !important;
  }