.why-section {
    padding: 60px 0px;
  }
  .why-heading {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
    position: relative;
  }
  .why-image img {
    max-width: 85%;
    border-radius: 10px;
    height: auto;
  }
  .why-card {
    background: #f4f4f4;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 100%;
    transition: transform 0.3s ease;
  }
  .why-card:hover {
    transform: translateY(-5px);
  }
  .why-card-top {
    background-color: #002c74;
    height: 110px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    position: relative;
    text-align: center;
  }
  .why-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
  }
  .why-icon img {
    width: 170px;
    height: 90px;
  }
  .why-card-body {
    padding: 50px 20px 20px;
    text-align: center;
  }
  .why-card-title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .why-card-text {
    font-size: 14px;
    color: #333;
  }
  @media (max-width: 992px) {
    .why-heading {
      font-size: 28px;
    }
  }
  @media (max-width: 768px) {
    .why-heading::after {
      width: 80px;
    }
    .why-card-body {
      padding-top: 40px;
    }
  }