.who-we-are-img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
  }

  @media (max-width: 768px) {
    .who-we-are-img {
      margin-bottom: 20px;
    }
  }