.hero-section {
    /* background-color: #061068; */
    background-image: url('../../../public/img/Apps.png'); /* Replace with your actual image path */
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
  }

  .hero-title {
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 1.4;
  }

  .highlight {
    position: relative;
    display: inline-block;
  }

  .highlight::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16px;
    background: url('https://i.imgur.com/sYgmN6y.png') no-repeat center;
    background-size: cover;
    z-index: -1;
  }

  .hero-btn {
    background-color: #4aa2ff;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 600;
    color: white;
    font-size: 1rem;
    margin-top: 30px;
    transition: background 0.3s ease;
  }

  .hero-btn:hover {
    background-color: #328ae3;
  }

  @media (min-width: 768px) {
    .hero-title {
      font-size: 3rem;
    }
  }