/* General Navbar Styles */
.navbar {
  background-color: #00000029 !important;
  transition: background-color 0.4s ease, box-shadow 0.4s ease;
  z-index: 1000;
}

/* When scrolled */
.navbar.scrolled {
  background-color: white !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Navbar Brand */
.navbar-brand {
  font-weight: 700;
  font-size: 1.25rem;
  color: #0A0A83;
}

.navbar-brand img {
  height: 32px;
}

/* Navbar Links */
.navbar-nav .nav-link {
  font-weight: 600;
  color: #fff;
  margin-right: 20px;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #8686ff;
}

.navbar-nav .nav-link.active {
  color: #8686ff !important;
}

.navbar.scrolled .nav-link {
  color: #000 !important;
}

.navbar.scrolled .nav-link:hover,
.navbar.scrolled .nav-link:focus {
  color: #8686ff !important;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus {
  box-shadow: none;
}

/* Contact Nav Style */
.contact-nav {
  background-color: #0a0a83;
  border-radius: 999px;
  text-decoration: none;
  font-weight: bold;
}

/* Mega Dropdown Styles */
.mega-dropdown {
  left: 0;
  right: 0;
  top: 100%;
  background-color: #fff;
  z-index: 999;
}

.mega-dropdown .row {
  justify-content: space-between;
}

.mega-dropdown h5 {
  /* font-size: 14px; */
  color: #0A0A83;
}

.mega-dropdown ul {
  padding-left: 0;
}

.mega-dropdown ul li {
  margin-bottom: 5px;
}

.mega-dropdown ul li a {
  font-size: 1rem;
  color: #000;
  display: block;
  text-decoration: none;
  transition: all 0.2s;
}

.mega-dropdown ul li span {
  font-size: 1rem;
  color: #000;
  display: block;
  text-decoration: none;
  transition: all 0.2s;
}

.mega-dropdown ul li a:hover {
  color: #0A0A83;
  text-decoration: underline;
}
