.blog-img {
    max-height: 400px;
    object-fit: cover;
    width: 100%;
}

.author-card {
    background-color: #f1f3f5;
    padding: 20px;
    border-radius: 10px;
}

.related-post img {
    width: 80px;
    height: 60px;
    object-fit: cover;
}

.related-post .info {
    font-size: 14px;
}

.date {
    font-size: 14px;
    color: gray;
}